.img-card {
  position: relative;
  display: inline-block;
  width: 340rpx;
  margin: 30rpx 0 0 20rpx;
  border-radius: 20rpx;
  box-shadow: 0 0 30rpx rgb(230,230,230);
  //border: 4rpx solid $border-color;
  overflow: hidden;
  color: $lighter-text-color;
  img {
    width: 180rpx;
    height: 180rpx;
  }
  .container {
    background-color: #fff;
    &:active {
      background-color: rgb(231,244,250);
    }
  }
  .content {
    padding: 20rpx 0 0 0;
    text-align: center;
    i {
      font-size: 160rpx;
    }
  }
  .bottom {
    padding: 0 0 20rpx 0;
    text-align: center;
    font-size: 40rpx;
    font-weight: bold;
  }
}
