.mint-searchbar {
  padding: 13rpx 20rpx;
  background-color: rgb(255,215,59);
  .mint-searchbar-inner {
    box-sizing: border-box;
    padding: 10rpx 10rpx;
    border-radius: 10rpx;
    height: 70rpx;
    .mintui-search {
      font-size: 40rpx;
      margin-right: 20rpx;
    }
    input {
      font-size: 30rpx;
    }
  }
  .mint-searchbar-cancel {
    color: #fff;
    font-size: 30rpx;
  }
}
