.mint-switch-input:checked + .mint-switch-core::after {
  transform: translateX(32rpx);
}

.mint-switch {
  .mint-switch-core {
    height: 48rpx;
    width: 80rpx;
    border-radius: 48rpx;
    &::after {
      width: 46rpx;
      height: 46rpx;
      border-radius: 46rpx;
    }
    &::before {
      width: 80rpx;
      height: 46rpx;
      border-radius: 46rpx;
    }
  }
}
