.mint-tabbar {
  border-top: 1px solid $border-color;
  background-color: $body-color;
  color: $lighter-text-color;
  .mint-tab-item {
    height: 90rpx;
    padding: 5rpx 0;
    &.is-selected {
      background-color: $body-color;
      .mint-tab-item-icon, .mint-tab-item-label {
        color: $green-color;
      }
    }
  }
  .mint-tab-item-icon {
    margin: 0 auto;
    width: 65rpx;
    height: 65rpx;
    font-size: 50rpx;
  }
  .mint-tab-item-label {
    font-size: 20rpx;
    color: $light-text-color;
    p {
      margin: 0;
    }
  }
}
