.mint-toast {
  &.success {
    .mint-toast-text, .icon {
      color: $green-color;
    }
  }
  &.error {
    .mint-toast-text, .icon {
      color: $red-color;
    }
  }
  width: 400rpx;
  height: 400rpx;
  border-radius: 20rpx;
  box-shadow: 0 0 20rpx $shadow-color;
  border: 1px solid $border-color;
  background-color: #fff;
  text-align: center;
  .mint-toast-text {
    font-size: 40rpx;
  }
  .icon {
    display: inline-block;
    margin: 60rpx 0;
    height: 145rpx;
    width: 145rpx;
    font-size: 145rpx;
  }
}
